.about {
    padding-top: 258px;
    padding-bottom: 133px;
    background-color: #fff;

    &__header {
        margin-bottom: 400px;
        position: relative;
        display: flex;
        justify-content: space-between;

        &-wrap {
            position: relative;
        }
    }

    &__img {
        position: relative;
        width: 860px;

        &>img {
            position: relative;
            z-index: 1;
        }
    }

    &__pluses {
        position: absolute;
        top: -76px;
        right: -51px;

        img {
            filter: brightness(0) saturate(100%) invert(40%) sepia(1%) saturate(0%) hue-rotate(196deg) brightness(94%) contrast(88%);
        }

        &-left,
        &-right {
            position: absolute;

            ul {
                display: flex;
                flex-wrap: wrap;
                width: 50px;
            }

            li {
                width: 25px;
                padding: 2px;

                img {
                    opacity: 0.5;
                    filter: brightness(0) saturate(100%) invert(40%) sepia(1%) saturate(0%) hue-rotate(196deg) brightness(94%) contrast(88%);
                }
            }
        }

        &-left {
            
            left: 0;
            top: 0;
        }
        
        &-right {
            right: 0;
            top: 0;
        }
    }

    &__title {
        position: absolute;
        z-index: 2;
        // top: -50px;
        top: 50px;
        left: -200px;
        font-size: 140px;
        font-weight: 600;
        line-height: 164px;
        letter-spacing: 9.12389px;
        text-transform: uppercase;
        color: #1A1A1A;
        mix-blend-mode: hard-light;
    }

    &__text {
        position: relative;
        top: 150px;
        left: 49px;
        align-self: flex-end;
        width: 480px;
        font-family: $font-noto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 32px;
        letter-spacing: 1.00165px;
        color: #1A1A1A;

        ul {
            padding-left: 20px;

            li {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 15px;
                    left: -15px;
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #1a1a1a;
                }
            }
        }
    }

    &__line {
        position: absolute;
        top: -38px;
        left: 48px;
        height: 300px;
        background-color: rgba(26, 26, 26, 0.65);
    }

    &__main {
        position: relative;
        margin: 0 -15px;

        &-wrap {
            position: absolute;
            left: 407px;
            top: 100px;
        }

        &-img {
            width: 480px;
        }

        &-title {
            position: absolute;
            top: -50px;
            right: -130%;
            width: 860px;
            font-size: 60px;
            line-height: 76px;
            text-align: center;
            letter-spacing: 3.53524px;
            color: #fff;
            mix-blend-mode: exclusion;
        }

        &-line {
            position: absolute;
            right: 130px;
            top: -40%;
            height: 300px;
            background-color: rgba(26, 26, 26, 0.65);
        }

        &-text {
            width: 100%;
            position: absolute;
            top: 395px;
            display: flex;
            justify-content: center;

            p {
                width: 670px;
                font-family: $font-noto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 32px;
                text-align: center;
                letter-spacing: 1.00165px;
                color: #1A1A1A;
            }
        }
    }

    &__footer {
        position: relative;

        &-plus {
            width: 28px;
        }

        &-wrap {
            padding-top: 10px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
        }

        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 50px;
            line-height: 83px;
            text-align: center;
            letter-spacing: 8px;
            text-transform: uppercase;
            color: #1A1A1A;
        }

        &-top, 
        &-bottom {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }

        &-top {
            margin-bottom: 55px;
        }

        &-bottom {

            &>div {
                position: relative;

                &:nth-child(1) {
                    left: 140px;
                }

                &:nth-child(2) {
                    right: 150px;
                }
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-phone {
            width: 92px;
            margin-bottom: 20px;
        }

        &-clock {
            width: 86px;
            margin-bottom: 18px;
        }

        &-fire {
            width: 91px;
            margin-bottom: 13px;
        }

        &-check {
            width: 87px;
            margin-bottom: 25px;
            position: relative;
            top: 8px;
        }

        &-users {
            width: 85px;
            margin-bottom: 14px;
        }

        &-desc {
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1A1A1A;
        }
    }
}

@media all and (min-width: 992px) {
    .about {

        .container {
            max-width: 100%;
        }
    }
}

@media all and (min-width: 768px) {
    .about {

        .container {
            max-width: 100%;
        }
    }
}

@media all and (min-width: 578px) {
    .about {

        .container {
            max-width: 100%;
        }
    }
}

@media all and (max-width: 1400px) {
    .about {

        &__img {
            width: 700px;
        }

        &__title {
            font-size: 110px;
        }

        &__main {
            margin-bottom: 100px;

            &-wrap {
                left: 150px;
            }

            &-line {
                right: 100px;
                top: -50%;
            }
        }

        &__pluses {
            right: 0;
        }

        &__footer {

            &-desc {
                width: 200px;
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .about {

        &__header {
            margin-bottom: 450px;
            flex-direction: column;;
        }

        &__title {
            top: 10px;
            left: 10px;
        }

        &__img {
            width: 860px;
        }

        &__text {
            width: 100%;
            left: unset;
            top: 70px;
            align-self: unset;
        }

        &__line {
            bottom: -120px;
            right: 0;
            top: unset;
            left: unset;
        }

        &__main {
            margin: 0 -15px 300px;

            &-wrap {
                left: 80px;
            }

            &-title {
                right: -86%;
                width: 650px;
                font-size: 44px;
            }

            &-line {
                display: none;
            }
        }

        &__footer {

            &-bottom {

                &>div {
                    position: relative;
    
                    &:nth-child(1) {
                        left: 50px;
                    }
    
                    &:nth-child(2) {
                        right: 50px;
                    }
                }
            }

            &-desc {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
}

@media all and (max-width: 991px) {
    .about {

        &__header {
            margin-bottom: 400px;
        }

        &__img {
            width: 100%;
            margin-bottom: 50px;
        }

        &__text {
            top: 0;
        }

        &__pluses {
            right: 50%;
        }

        &__main {
            margin: 0 -15px 100px;

            &-wrap {
                top: -390px;
            }

            &-title {
                position: relative;
                left: 0;
                right: unset;
                top: 100px;
                width: 100%;
            }

            &-text {
                position: static;
                padding: 0 20px;

                p {
                    width: 100%;
                }
            }
        }

        &__footer {

            &-top {
                justify-content: center;
                align-items: baseline;
            }

            &-desc {
                font-size: 16px;
            }
        }

        &__pluses {

            &-right, 
            &-left {
                
                ul {
                    width: 50px;
                }
            }
            
        }
    }
}

@media all and (max-width: 767px) {
    .about {
        padding-bottom: 0;
        margin-bottom: -200px;

        &__header {
            margin-bottom: 0;
        }

        &__main {
            margin-bottom: 0;

            &-wrap {
                padding: 0 15px;
                position: relative;
                top: unset;
                left: unset;
                right: unset;
                bottom: unset;
                z-index: 2;
            }

            &-bg {
                position: relative;
                top: -300px;

            }

            &-title {
                color: #1a1a1a;
            }

            &-text {
                position: relative;
                top: -280px;
            }
        }

        &__footer {
            top: -280px;

            &-bottom {

                &>div {
                    position: relative;
    
                    &:nth-child(1) {
                        left: 0;
                    }
    
                    &:nth-child(2) {
                        right: 0;
                    }
                }
            }

            &-desc {
                width: 170px;
                line-height: normal;
                letter-spacing: normal;
            }
        }

        &__pluses {

            &-right,
            &-left {
                display: none;
            }
        }
    }
}

@media all and (max-width: 577px) {
    .about {
        padding-top: 130px;
        padding-bottom: 50px;
        margin-bottom: 0;

        &__pluses {
            display: none;
        }

        &__title {
            top: -90px;
            font-size: 60px;
        }

        &__header {
            margin-bottom: 60px;
        }

        &__main {
            margin-bottom: 50px;

            &-title {
                position: static;
                font-size: 28px;
                line-height: 38px;
                letter-spacing: 2px;
            }

            &-img {
                width: 100%;
                margin-bottom: 50px;
            }

            &-text {
                position: static;
            }

            &-bg {
                display: none;
            }
        }

        &__footer {
            position: static;

            &-top,
            &-bottom {
                flex-direction: column;
            }

            &-item {
                width: 100%;
                margin-bottom: 30px;
            }

            &-title {
                font-size: 36px;
                letter-spacing: normal;
            }
        }
    }
}

@media all and (max-width: 420px) {
    .about {
        padding-bottom: 40px;
    }
}