.compare {

    &__wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 110px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 736px;
        font-size: 50px;
        line-height: 76px;
        text-align: center;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: #E8E8E8;

        &-icon {
            width: 28px;
        }
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;

        &-wrap {
            position: relative;
        }
    
        &-item {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 608px;
            height: 476px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            background-color: #1a1a1a;
        }

        &-imgleft {
            width: 100px;
        }

        &-imgright {
            width: 200px;
        }

        &-desc {
            position: absolute;
            left: 50%;
            bottom: 70px;
            transform: translateX(-50%);
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &-arrows {
            position: absolute;
            bottom: -95px;
            left: 50%;
            transform: translateX(-50%);

            li {
                width: 24px;

                &:nth-child(1) {
                    opacity: 0.4;
                }

                &:nth-child(2) {
                    opacity: 0.7;
                }
            }
        }

        &-pluses {
            width: 270px;
        }

        &-plusesleft {
            position: absolute;
            bottom: -76px;
            left: -51px;
        }

        &-plusesright {
            position: absolute;
            top: -75px;
            right: -52px;
        }

        &-middle {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;

            ul {
                display: flex;
                align-items: center;

                li {
                    
                    &:nth-child(1),
                    &:nth-child(5) {
                        width: 20px;
                        opacity: 0.4;
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        width: 22px;
                        opacity: 0.7;
                    }

                    &:nth-child(3) {
                        width: 25px;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &__box {

        &-main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &-item {
            margin-bottom: 100px;
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-wrapleft {
            position: relative;
            left: 100px;
        }

        &-wrapright {
            position: relative;
            right: 64px;
        }

        &-wrapsmoke {
            position: relative;
            left: 60px;
        }

        &-icon {
            margin-bottom: 30px;
        }

        &-house {
            width: 165px;
        }

        &-room {
            width: 262px;
            margin-bottom: 44px;
        }

        &-smoke {
            width: 310px;
            margin-bottom: 121px;
            position: relative;
            top: 63px;
        }

        &-fire {
            width: 104px;
        }

        &-cricket {
            width: 101px;
        }

        &-remote {
            width: 181px;
        }

        &-desc {
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &-arrowsleft {

            ul {
                display: flex;
                align-items: center;
            }
            
            li {

                &:not(:last-child) {
                    margin-right: 11px;
                }

                &:nth-child(1) {
                    width: 31px;
                    opacity: 0.4;
                }

                &:nth-child(2) {
                    width: 37px;
                    opacity: 0.7;
                }

                &:nth-child(3) {
                    width: 41px;
                    
                }
            }
        }

        &-arrowsright {

            ul {
                display: flex;
                align-items: center;
            }
            
            li {

                &:not(:last-child) {
                    margin-right: 11px;
                }

                &:nth-child(3) {
                    width: 31px;
                    opacity: 0.4;
                }

                &:nth-child(2) {
                    width: 37px;
                    opacity: 0.7;
                }

                &:nth-child(1) {
                    width: 41px;
                    
                }
            }
        }
    }    
}

@media all and (min-width: 576px) {
    .compare {

        .container {
            max-width: 100%;
        }
    }
}

@media all and (max-width: 1400px) {
    .compare {

        &__header {
            justify-content: space-around;

            &-item {
                width: 460px;
                height: 460px;
            }

            &-middle {

                ul {

                    li {

                        &:nth-child(1),
                        &:nth-child(5) {
                            width: 16px;
                            opacity: 0.4;
                        }
    
                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 18px;
                            opacity: 0.7;
                        }
    
                        &:nth-child(3) {
                            width: 20px;
                        }
    
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }

                    
                }

                
            }

            &-pluses {
                width: 200px;
            }

            &-plusesleft {
                bottom: -56px;
                left: -38px;
            }

            &-plusesright {
                top: -55px;
                right: -38px;
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .compare {

        &__header {
            justify-content: space-between;

            &-item {
                width: 350px;
                height: 350px;
            }

            &-imgleft {
                width: 70px;
            }

            &-imgright {
                width: 170px;
            }

            &-desc {
                bottom: 35px;
            }

            &-arrows {
                bottom: -110px;
            }
        }

        &__box {

            &-wrapleft {
                left: 45px;
            }

            &-wrapcricket {
                left: 30px;
            }

            &-wrapright {
                right: 20px;
            }

            &-house {
                width: 125px;
            }

            &-room {
                width: 220px;
            }

            &-smoke {
                width: 200px;
            }

            &-fire {
                width: 80px;
            }

            &-cricket {
                width: 80px;
            }

            &-remote {
                width: 140px;
            }

            &-arrowsleft {

                ul {
                    display: flex;
                    align-items: center;
                }
                
                li {
    
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
    
                    &:nth-child(1) {
                        width: 18px;
                        opacity: 0.4;
                    }
    
                    &:nth-child(2) {
                        width: 22px;
                        opacity: 0.7;
                    }
    
                    &:nth-child(3) {
                        width: 26px;
                        
                    }
                }
            }
    
            &-arrowsright {
    
                ul {
                    display: flex;
                    align-items: center;
                }
                
                li {
    
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
    
                    &:nth-child(3) {
                        width: 18px;
                        opacity: 0.4;
                    }
    
                    &:nth-child(2) {
                        width: 22px;
                        opacity: 0.7;
                    }
    
                    &:nth-child(1) {
                        width: 26px;
                        
                    }
                }
            }
        }
    }
}

@media all and (max-width: 991px) {
    .compare {

        &__header {
            justify-content: space-between;

            &-item {
                width: 250px;
                height: 250px;
            }

            &-imgleft {
                width: 50px;
            }

            &-imgright {
                width: 140px;
            }

            &-desc {
                bottom: 20px;
                font-size: 18px;
                line-height: normal;
            }

            &-arrows {
                bottom: -110px;
            }

            &-pluses {
                width: 150px;
            }

            &-plusesleft {
                bottom: -43px;
                left: -28px;
            }

            &-plusesright {
                top: -41px;
                right: -28px;
            }
        }

        &__box {

            &-wrapleft {
                left: 20px;
            }

            &-wrapcricket {
                left: 10px;
            }

            &-wrapright {
                right: -5px;
            }

            &-arrowsleft {

                ul {
                    display: flex;
                    align-items: center;
                }
                
                li {
    
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
    
                    &:nth-child(1) {
                        width: 14px;
                        opacity: 0.4;
                    }
    
                    &:nth-child(2) {
                        width: 16px;
                        opacity: 0.7;
                    }
    
                    &:nth-child(3) {
                        width: 18px;
                        
                    }
                }
            }
    
            &-arrowsright {
    
                ul {
                    display: flex;
                    align-items: center;
                }
                
                li {
    
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
    
                    &:nth-child(3) {
                        width: 14px;
                        opacity: 0.4;
                    }
    
                    &:nth-child(2) {
                        width: 16px;
                        opacity: 0.7;
                    }
    
                    &:nth-child(1) {
                        width: 18px;
                        
                    }
                }
            }
        }
    }
}

@media all and (max-width: 767px) {
    .compare {

        &__header {

            &-item {
                width: 200px;
                height: 200px;
            }

            &-imgleft {
                position: relative;
                top: -22px;
            }

            &-middle {

                ul {

                    li {

                        &:nth-child(1),
                        &:nth-child(5) {
                            width: 10px;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 12px;
                        }

                        &:nth-child(3) {
                            width: 14px;
                        }
                    }
                }
            }
        }

        &__box {

            &-house {
                width: 100px;
            }

            &-room {
                width: 170px;
            }

            &-smoke {
                width: 160px;
            }

            &-fire {
                width: 70px;
            }

            &-cricket {
                width: 70px;
            }

            &-remote {
                width: 120px;
            }

            &-desc {
            font-size: 15px;
            }

            &-arrowsleft {

                ul {
                    display: flex;
                    align-items: center;
                }
                
                li {
    
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
    
                    &:nth-child(1) {
                        width: 10px;
                        opacity: 0.4;
                    }
    
                    &:nth-child(2) {
                        width: 12px;
                        opacity: 0.7;
                    }
    
                    &:nth-child(3) {
                        width: 14px;
                        
                    }
                }
            }
    
            &-arrowsright {
    
                ul {
                    display: flex;
                    align-items: center;
                }
                
                li {
    
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
    
                    &:nth-child(3) {
                        width: 10px;
                        opacity: 0.4;
                    }
    
                    &:nth-child(2) {
                        width: 12px;
                        opacity: 0.7;
                    }
    
                    &:nth-child(1) {
                        width: 14px;
                        
                    }
                }
            }
        }
    }
}

@media all and (max-width: 577px) {
    .compare {

        &__wrap {
            margin-bottom: 50px;
        }

        &__header {
            display: block;
            margin-bottom: 0;

            &-item {
                width: 100%;
                margin-bottom: 100px;
            }

            &-wrap {

                &:not(:last-child) {
                    margin-bottom: 100px;
                }
            }

            &-arrows {
                bottom: -70px;
            }
        }

        &__box {

            &-wrap {

                &:not(:last-child) {
                    margin-bottom: 50px;
                }
            }

            &-wrapleft {
                position: static;
            }

            &-wrapright {
                position: static;
            }

            &-smoke {
                position: static;
                margin-bottom: 30px;
            }
        }

        &__title {
            width: 100%;
            font-size: 30px;
            line-height: normal;
            letter-spacing: normal;

            &-icon {
                margin-bottom: 16px;
            }
        }
    }
}