.compare {

    &__wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 110px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 736px;
        font-size: 50px;
        line-height: 76px;
        text-align: center;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: #E8E8E8;

        &-icon {
            width: 28px;
        }
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;

        &-wrap {
            position: relative;
        }
    
        &-item {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 608px;
            height: 476px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            background-color: #1a1a1a;
        }

        &-imgleft {
            width: 100px;
        }

        &-imgright {
            width: 200px;
        }

        &-desc {
            position: absolute;
            left: 50%;
            bottom: 70px;
            transform: translateX(-50%);
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &-arrows {
            position: absolute;
            bottom: -95px;
            left: 50%;
            transform: translateX(-50%);

            li {
                width: 24px;

                &:nth-child(1) {
                    opacity: 0.4;
                }

                &:nth-child(2) {
                    opacity: 0.7;
                }
            }
        }

        &-pluses {
            width: 270px;
        }

        &-plusesleft {
            position: absolute;
            bottom: -76px;
            left: -51px;
        }

        &-plusesright {
            position: absolute;
            top: -75px;
            right: -52px;
        }

        &-middle {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;

            ul {
                display: flex;

                li {
                    
                    &:nth-child(1),
                    &:nth-child(5) {
                        width: 20px;
                        opacity: 0.4;
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        width: 22px;
                        opacity: 0.7;
                    }

                    &:nth-child(3) {
                        width: 25px;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &__box {

        &-main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &-item {
            margin-bottom: 100px;
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-wrapleft {
            position: relative;
            left: 100px;
        }

        &-wrapright {
            position: relative;
            right: 64px;
        }

        &-wrapsmoke {
            position: relative;
            left: 60px;
        }

        &-icon {
            margin-bottom: 30px;
        }

        &-house {
            width: 165px;
        }

        &-room {
            width: 262px;
            margin-bottom: 44px;
        }

        &-smoke {
            width: 310px;
            margin-bottom: 121px;
            position: relative;
            top: 63px;
        }

        &-fire {
            width: 104px;
        }

        &-cricket {
            width: 101px;
        }

        &-remote {
            width: 181px;
        }

        &-desc {
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &-arrowsleft {

            ul {
                display: flex;
                align-items: center;
            }
            
            li {

                &:not(:last-child) {
                    margin-right: 11px;
                }

                &:nth-child(1) {
                    width: 31px;
                    opacity: 0.4;
                }

                &:nth-child(2) {
                    width: 37px;
                    opacity: 0.7;
                }

                &:nth-child(3) {
                    width: 41px;
                    
                }
            }
        }

        &-arrowsright {

            ul {
                display: flex;
                align-items: center;
            }
            
            li {

                &:not(:last-child) {
                    margin-right: 11px;
                }

                &:nth-child(3) {
                    width: 31px;
                    opacity: 0.4;
                }

                &:nth-child(2) {
                    width: 37px;
                    opacity: 0.7;
                }

                &:nth-child(1) {
                    width: 41px;
                    
                }
            }
        }
    }    
}