.example {
    

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    &__title {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        line-height: 83px;
        text-align: center;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: #1A1A1A;
    }

    &__plus {
        width: 28px;

        img {
            filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(33%) hue-rotate(348deg) brightness(107%) contrast(80%);
        }
    }

    &__header {
        padding-bottom: 76px;
        background-color: #fff;

        &-wrap {
            display: flex;
            justify-content: center;
        }
    }

    &__subtitle {
        font-family: $font-noto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.94273px;
        color: #1A1A1A;

        span {
            display: inline-block;
            width: 500px;
        }
    }

    &__main {
        position: relative;

        &-wrap {
            padding: 90px 150px 84px 200px;
            background-color: #1a1a1a;
        }
    }

    &__item {
        outline: 0;
        flex: 0 0 auto;
    }

    &__card {
        width: 545px;
        padding: 45px 45px 66px;
        background-color: #fff;

        &-title {
            margin-bottom: 2px;
            font-size: 33px;
            font-weight: 600;
            line-height: 76px;
            text-align: center;
            letter-spacing: 1.94438px;
            color: #1A1A1A;
        }

        &-desc {
            margin-bottom: 42px;
            font-family: $font-noto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 1.00165px;
            color: #1A1A1A;
        }

        &-button {

            a {
                display: flex;
                align-items: center;
                padding: 26px 70px;
                font-family: $font-noto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                text-align: center;
                letter-spacing: 3.77841px;
                color: #FFFFFF;
                background-color: #1a1a1a;

                &:hover {
                    transition: all ease 1s;
                    box-shadow: 6px 7px 26px rgba(0, 0, 0, 0.5);
                }

                span {
                    display: inline-block;
                    margin-right: 21px;
                }
            }
        }

        &-img {
            width: 14px;
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-price {
            font-size: 60px;
            font-weight: 600;
            text-align: center;
            letter-spacing: 3.53524px;
            color: #1A1A1A;
        }
    }

    &__img {
        margin-bottom: 20px;
        width: 460px;
    }

    &__arrow {

        &-left {
            position: absolute;
            top: 50%;
            left: 20px;
            width: 28px;
            cursor: pointer;
        }

        &-right {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 28px;
            cursor: pointer;
        }

        &-leftsecond {
            position: absolute;
            top: 50%;
            left: 20px;
            width: 28px;
            cursor: pointer;
        }

        &-rightsecond {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 28px;
            cursor: pointer;
        } 

        &:hover {
            translate: all ease 1s;
            opacity: 0.65;
        }
    }

    &__pluses {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        background-color: #fff;

        &-top {
            padding-bottom: 136px;
        }

        &-bottom {
            padding-top: 2px;
        }
    }

    .slick-track {
        display: flex;
    }
}

@media all and (max-width: 1400px) {
    .example {

        &__card {
            width: unset;

            &-title {
                line-height: normal;
            }
        }

        &__img {
            width: unset;
        }
    }
}

@media all and (max-width: 1199px) {
    .example {

        &__card {
            padding: 35px;

            &-title {
                margin-bottom: 20px;
            }

            &-wrap {
                flex-direction: column;
            }

            &-button {
                margin-bottom: 30px;
            }
        }
    }
}

@media all and (max-width: 767px) {
    .example {

        &__main {

            &-wrap {
                padding: 90px 100px 90px 120px;
            }
        }
    }

}

@media all and (max-width: 577px) {
    .example {

        &__main {

            &-wrap {
                padding: 70px 70px 70px 90px;
            }
        }

        &__subtitle {

            span {
                width: 100%;
            }
        }

        &__pluses {

            &-top {
                padding-bottom: 50px;
            }
        }
    }
}

@media all and (max-width: 420px) {
    .example {

        &__title {
            font-size: 36px;
            letter-spacing: normal;
        }

        &__main {

            &-wrap {
                padding: 70px 20px;
            }
        }

        &__card {

            &-button {

                a {
                    padding: 20px 50px;
                }
            }
        }

        &__arrow {

            img {
                filter: brightness(0) saturate(100%) invert(0%) sepia(41%) saturate(20%) hue-rotate(327deg) brightness(92%) contrast(80%);
            }
        }
    }
}