.footer {
    padding: 10px 0 10px;
    background-color: #fff;

    &__header {
        margin-bottom: 20px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(26, 26, 26, 0.3);
    }

    &__logo {
        width: 180px;
    }

    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {
                margin-right: 60px;
            }
        }

        &-icon {
            margin-right: 21px;
            width: 18px;
        }

        &-mail {
            font-size: 22px;
            line-height: 76px;
            text-align: center;
            letter-spacing: 1.47302px;
            color: #1A1A1A;

            a {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    background-color: #1A1A1A;
                    left: 0;
                    bottom: -5px;
                    -webkit-transition: width 0.5s;
                    transition: width 0.5s;
                }

                &:hover:after {
                    width: 100%;
                }
            }
        }

        &-phone {
            font-size: 22px;
            line-height: 76px;
            text-align: center;
            letter-spacing: 1.47302px;
            color: #1A1A1A;

            a {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    background-color: #1A1A1A;
                    left: 0;
                    bottom: -5px;
                    -webkit-transition: width 0.5s;
                    transition: width 0.5s;
                }

                &:hover:after {
                    width: 100%;
                }
            }

            span {
                font-family: $font-noto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.94273px;
                color: #1A1A1A;
            }
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-wrap {
            display: flex;
            align-items: flex-start;
        }

        &-address {
            margin-right: 110px;
        }

        &-title {
            margin-bottom: 12px;
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            letter-spacing: 1.17841px;
            color: #1A1A1A;
        }

        &-city {
            margin-bottom: 12px;
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.94273px;
            color: #1A1A1A;
        }

        &-link {

            a {
                position: relative;
                padding-bottom: 6px;
                display: flex;
                align-items: center;
                font-family: $font-noto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                text-align: center;
                letter-spacing: 3.02273px;
                color: #1A1A1A;
                // border-bottom: 2px solid #1a1a1a;

                img {
                    margin-left: 9px;
                    width: 11px;
                    filter: brightness(0) saturate(100%) invert(0%) sepia(79%) saturate(2772%) hue-rotate(38deg) brightness(88%) contrast(80%);
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background-color: #1a1a1a;
                    left: 0;
                    bottom: -5px;
                    -webkit-transition: width 0.5s;
                    transition: width 0.5s;
                }

                &:hover:after {
                    width: 100%;
                }
            }
        }

        &-button {

            a {
                display: flex;
                align-items: center;
                padding: 22px 67px;
                font-family: $font-noto, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                text-align: center;
                letter-spacing: 3.77841px;
                color: #FFFFFF;
                background-color: #1a1a1a;

                &:hover {
                    transition: all ease 1s;
                    color: #1a1a1a;
                    background-color: #fff;
                    box-shadow: 6px 7px 26px rgba(0, 0, 0, 0.5);
                
                    img {
                        filter: brightness(0) saturate(100%) invert(0%) sepia(31%) saturate(82%) hue-rotate(173deg) brightness(104%) contrast(80%);
                    }
                }
            }
        }

        &-icon {
            margin-left: 16px;
            width: 12px;
        }
    }
}

@media all and (min-width: 992px) {
    .footer {

        .container {
            max-width: 100%;
        }
    }
}

@media all and (min-width: 768px) {
    .footer {

        .container {
            max-width: 100%;
        }
    }
}

@media all and (min-width: 578px) {
    .footer {

        .container {
            max-width: 100%;
        }
    }
}

@media all and (max-width: 1400px) {
    .footer {

        .container {
            max-width: 100%;
        }

        &__item {
            
            &:not(:last-child) {
                margin-right: 40px;
            }
        }

        &__contact {

            &-mail {
                font-size: 20px;
                line-height: normal;
            }

            &-phone {
                font-size: 20px;
                line-height: normal;

                span {
                    display: block;
                }
            }
        }

        &__main {

            &-address {
                    margin-right: 70px;
                
            }

            &-link {

                a {
                    white-space: nowrap;
                }
                
            }

            &-city {
                white-space: nowrap;
            }

            &-button {

                a {
                    font-size: 16px;
                    white-space: nowrap;
                }
                
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .footer {

        &__header {
            justify-content: space-around;
        }

        &__contact {
            flex-direction: column;

            &-item {

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
        }

        &__main {

            &-button {

                a {
                    padding: 22px 35px;
                }
            }

            &-address {
                margin-right: 40px;
            }

            &-city {
                font-size: 14px;
            }
        }
    }
}

@media all and (max-width: 991px) {
    .footer {

        &__main {
            align-items: center;
            justify-content: space-around;

            &-wrap {
                flex-direction: column;
            }

            &-address {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
}

@media all and (max-width: 767px) {
    .footer {

        &__header {
            flex-direction: column;
        }

        &__logo {
            margin-bottom: 30px;
        }

        &__main {
            flex-direction: column;

            &-button {

                a {
                    padding: 20px;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}