.form {
    // padding-top: 117px;
    background-color: #fff;

    .container {
        max-width: 100%;
        padding: 0;
    }

    &__container {
        
        height: 610px;
        background: url('../img/fire-bg.png') center no-repeat;
    }

    &__title {
        margin-bottom: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        line-height: 76px;
        text-align: center;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: #1a1a1a;

        div {
            width: 28px;

            img {
                filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(1140%) hue-rotate(9deg) brightness(101%) contrast(80%);
            }
        }

        &-wrap {
            display: flex;
            justify-content: center;
        }
    }

    &__form {
        width: 428px;

        &-wrap {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        position: relative;

        &:nth-child(1) {
            margin-bottom: 30px;
        }

        &:nth-child(2) {
            margin-bottom: 48px;
        }

        &-icon {
            position: absolute;
            top: 3px;
            left: 24px;
            width: 23px;

            img {
                opacity: 0.65;
                filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(1140%) hue-rotate(9deg) brightness(101%) contrast(80%);
            }
        }

        input {
            padding-bottom: 10px;
            padding-left: 86px;
            width: 100%;
            background-color: transparent;
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.94273px;
            color: #1a1a1a;
            // opacity: 0.44;
            border-bottom: 1px solid rgba(0, 0, 0, 0.65);
        
        }
    }

    &__button {
        position: relative;
        text-align: center;

        input {
            padding: 20px 94px 20px 60px;
            font-family: $font-noto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            letter-spacing: 3.77841px;
            color: #fff;
            background-color: #1a1a1a;

            &:hover {
                color: #1a1a1a;
                background-color: #fff;
                transition: all ease 1s;
                box-shadow: 6px 7px 26px rgba(0, 0, 0, 0.5);
            }
        }

        &:hover {

            img {
                transition: all ease 1s;
                filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(1140%) hue-rotate(9deg) brightness(101%) contrast(80%);
            }
        }
        
        &-icon {
            position: absolute;
            top: 50%;
            right: 120px;
            transform: translateY(-50%);
            margin-left: 10px;
            width: 14px;

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(213deg) brightness(119%) contrast(111%);
            }
        }
    }
}

@media all and (max-width: 577px) {
    .form {
        padding-top: 0;
    }
}

@media all and (max-width: 420px) {
    .form {
        
        &__title {
            font-size: 36px;
        }

        &__button {

            &-icon {
                right: 85px;
            }
        }
    }
}