.history {
    padding-top: 200px;
    margin-bottom: -224px;

    &__container {
        position: relative;
        min-height: 1000px;
    }

    &__wrap {
        position: relative;
    }

    &__title {
        mix-blend-mode: difference;
        position: absolute;
        z-index: 2;
        top: -117px;
        right: -16px;
        width: 1000px;
        font-family: 'Gill Sans Pro Cyrillic-medium', sans-serif;
        font-size: 140px;
        font-weight: 600;
        line-height: 155px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__img {
        margin-bottom: 10px;
        width: 700px;
        position: relative;

        &>img {
            position: relative;
            z-index: 1;
        }
    }

    &__plus {
        position: absolute;
        bottom: -52px;
        right: -83px;  
        width: 270px;
    }

    &__desc {
        font-family: $font-regular, sans-serif;
        font-size: 14px;
        line-height: 37px;
        letter-spacing: 0.824889px;
        color: #E8E8E8;
    }

    &__line {
        position: absolute;
        left: 350px;
        bottom: -56px;
    }

    &__text {
        position: absolute;
        right: 0;
        bottom: -11px;
        width: 487px;
    }
}

@media all and (max-width: 1199px) {
    .history {
        margin-bottom: 100px;
        padding-top: 100px;

        &__title {
            position: relative;
            top: 0;
        }

        &__text {
            position: relative;
        }

        &__line {
            left: unset;
            right: 0;
        }

        &__desc {
            margin-bottom: 30px;
        }
    }
}

@media all and (max-width: 991px) {
    .history {
        padding-top: 100px;

        &__title {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            font-size: 65px;
            line-height: normal;
        }

        &__line {
            height: 300px;
        }

        
    }
}

@media all and (max-width: 767px) {
    .history {
        margin-bottom: 70px;

        &__container {
            min-height: 800px;
        }

        &__img {
            width: 100%;
        }

        &__text {
            width: 100%;
        }

        &__line {
            height: 200px;
        }
    }
}

@media all and (max-width: 577px) {
    .history {

        &__plus {
            display: none;
        }
    }
}

@media all and (max-width: 420px) {
    .history {

        &__container {
            min-height: unset;
        }

        &__title {
            letter-spacing: 2px;
            font-size: 35px;
        }

        &__line {
            display: none;
        }
    }
}