.trinyty {
    margin-bottom: -122px;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 1100px;
    }

    &__wrap {
        position: relative;
    }

    &__text {
        position: relative;
        top: -115px;
        width: 555px;
    }

    &__img {
        position: relative;
        width: 620px;
        right: 26px;
        margin-bottom: 17px;

        &>img {
            position: relative;
            z-index: 1;
            height: 524px;
            object-fit: cover;
        }
    }

    &__pluses {
        position: absolute;
        right: -80px;
        top: -53px;
        width: 270px;
    }

    &__date {
        position: absolute;
        left: -300px;
        top: 320px;
        z-index: 1;
        mix-blend-mode: difference;
        font-size: 130px;
        font-weight: 600;
        line-height: 152px;
        letter-spacing: 8.47218px;
        color: #FFFFFF;

        span {
            font-size: 85px;
        }
    }

    &__line {
        position: absolute;
        left: 405px;
        bottom: 121px;
    }

    &__desc {
        text-align: right;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.824889px;
        color: #E8E8E8;
    }
}

@media all and (max-width: 1400px) {
    .trinyty {

        &__img {
            width: 550px;
        }

        &__pluses {
            right: -50px;
        }
    }
}

@media all and (max-width: 1199px) {
    .trinyty {
        margin-bottom: 50px;

        &__container {
            flex-direction: column;
            justify-content: unset;
        }

        &__text {
            width: 100%;
            top: 0;
        }

        &__img {
            width: 100%;
        }

        &__date {
            left: 0;
        }

        &__line {
            bottom: 0;
            height: 300px;
            left: 50%;
        }

        &__wrap {
            margin-bottom: 50px;
        }
    }
}

@media all and (max-width: 991px) {
    .trinyty {

        &__text {
            margin-bottom: 30px;
        }

        &__line {
            position: relative;

        }
    }
}

@media all and (max-width: 767px) {
    .trinyty {

        &__date {
            top: 30px;
            font-size: 60px;

            span {
                font-size: 40px;
            }
        }

        &__line {
            height: 300px;
            left: 100px;
        }
    }
}

@media all and (max-width: 577px) {
    .trinyty {

        &__pluses {
            display: none;
        }

        &__img {
            right: 0;
        }

        &__text {
            margin-bottom: 0;
        }
    }
}

@media all and (max-width: 420px) {
    .trinyty {

        &__date {
            font-size: 50px;
        } 

        &__line {
            display: none;
        }
    }
}